.query-input {
    min-width: 25%;
    padding: 0.3em 1em;
}

.btn {
    background-color: rgb(251, 224, 251);
    border: 2px solid rgb(223, 196, 223);
    color: black;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgb(134, 77, 134);
    border: 2px solid rgb(105, 57, 105);
    color: white;
}