#body {
    min-height: 70vh;
    background-image: linear-gradient(rgb(254, 239, 255), rgb(255, 255, 255));
    padding-top: 3em;
    font-size: 150%;
}

.redtext {
    color: rgb(166, 52, 78);
}

.greentext {
    color: rgb(81, 172, 112);
}