 {{this.errormsg}}
<div *ngIf="!this.isInEditMode" class="row justify-content-center align-items-center ps-0 pe-0" style="width:95%; word-wrap:normal;">
    <div class="col-3">{{this.spending.product}}</div>
    <div class="col-2">{{this.spending.productCategory}}</div>
    <div class="col-2">{{this.spending.price}}</div>
    <div class="col-2">{{this.spending.date | date:'mediumDate'}}</div>
    <div class="col-3"><button class="btn btn-primary" style="min-width:25%" (click)="toggleEditMode()">Edit</button></div>
</div>

<div *ngIf="this.isInEditMode" [formGroup]="spendingData" class="row justify-content-center align-items-center ps-0 pe-0" style="width:95%; word-wrap:normal;">
    <div class="col-3">
        <input type="text" class="form-control mt-2 text-center inputField" formControlName="product" aria-describedby="productHelp" placeholder="Product's name" style="background-color:#f9f7fdd3" required>
    </div>
    <div class="col-2">
        <select class="form-control mt-2 text-center inputField" formControlName="productCategory" aria-describedby="productHelp" placeholder="Product category" style="background-color:#f9f7fdd3" required>
            <option *ngFor="let category of  this.recommendedCategories" [value]="category">{{category}}</option>
        </select>
    </div>
    <div class="col-2"><input type="text" class="form-control mt-2 text-center inputField" formControlName="price" aria-describedby="productHelp" placeholder="Price" style="background-color:#f9f7fdd3" required></div>
    <div class="col-2"><input type="date" class="form-control mt-2 text-center inputField" formControlName="date" aria-describedby="productHelp" placeholder="Date" style="background-color:#f9f7fdd3" required></div>
    <div class="col-1"><button class="btn btn-primary" style="min-width:25%" (click)="onEditSave()">Save</button></div>
    <div class="col-1"><button class="btn btn-primary" style="min-width:25%" (click)="openModal(confirm)">Delete</button></div>
    <div class="col-1"><button class="btn btn-primary" style="min-width:25%" (click)="toggleEditMode()">Cancel</button></div>
</div>

<ng-template #confirm let-modal>
    <div class="modal-body">
        <h2 class="text-center">Are you sure you want to this spending?</h2>
        <div class="row align-content-between justify-content-center">
            <button type="button" class="btn btn-outline-dark w-25 m-3" (click)="modal.close();onDeleteSpending()">Yes</button>
            <button type="button" class="btn btn-outline-dark w-25 m-3" (click)="modal.close()">No</button>
        </div>
    </div>
</ng-template>