<div class="d-flex align-items-center justify-content-center" style=" background-image: linear-gradient(to right, #8feeff , #ebc0ff);">
    <div class="d-flex align-items-center justify-content-center vh-100 flex-column w-25">
        <div class="h1 text-center mb-5">
            Recover your password
        </div>
        <div class="h2" *ngIf="errormsg" style="color:#621e51">{{errormsg}}</div>
        <div class="card h3" style=" background-image: linear-gradient(to right, #c4d0fd , rgb(225, 211, 250));">
            <div class="card-header text-center">
                Enter your email, where we will send an email with the details of further actions
            </div>
            <div class="card-body">
                <form [formGroup]="userData">
                    <div class="mb-5 text-center">
                        <div>
                            <label for="email" class="form-label text-center">Email address</label>
                        </div>
                        <input [class.is-invalid]="emailData?.invalid && emailData?.touched" type="email" class="form-control" formControlName="email" name="email" id="email" aria-describedby="emailHelp" style="background-color:#f9f7fdd3" required>
                    </div>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-lg mt-2" style="background-color:#b0a0f5;border-color:#d9d4f3; width:fit-content">Send email</button>
                        <button [routerLink]="['/login']" type="submit" class="btn btn-primary btn-lg mt-4" style="background-color:#b0a0f5;border-color:#d9d4f3; width:fit-content">Back to Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>